﻿@using Amazon.S3.Model
@model IEnumerable<S3Bucket>
@{
    ViewBag.Title = "List of buckets";
}

<h2>@ViewBag.Title</h2>

@foreach (S3Bucket b in Model)
{
    <p>@Html.ActionLink(b.BucketName, "contents", new { bucket = b.BucketName })</p>
} 