﻿@using Amazon.S3.Model;
@model GetObjectMetadataResponse
@{
    ViewBag.Title = "Object info";

    var __path = ViewBag.Name;
    var __bucketName = ViewBag.BucketName;
}

<header>
    <h2>@System.IO.Path.GetFileName(__path)</h2>
    <h3>Bucket: @__bucketName</h3>
    <h4>Last modified: @Model.LastModified</h4>
</header>
<p>@Html.ActionLink("Back", "contents", null, new { prefix = System.IO.Path.GetDirectoryName(__path) + "/" })</p>

<table class="table">
    @foreach (string key in Model.Headers.Keys)
    {
        <tr>
            <td>@key</td>
            <td>@Model.Headers[key]</td>
        </tr>
    }
</table>
