﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
    <style>
        body
        {
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>AWS S3 Sample</h1>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <p><b>Key:</b> @User.Identity.Name</p>
        @Html.ActionLink("Logout", "Logout", "Access", null, new { @class = "btn btn-info" })
    }

    @RenderBody()
</body>
</html>
